/* CSS for website */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900&subset=latin,latin-ext);
* {
  font-family: 'Raleway', sans-serif;
  color: #151d46;
}

a {
    color: #f06969 !important;
    transition: color .3s ease-in;
}

a:hover {
    color: #151d46 !important;
    text-decoration: none !important;
}
 
.book .book-body .page-wrapper .page-inner section.normal h3.panel-title {
  color: #ffffff;
}

.book .book-body .example-wrapper {
    font-family: initial !important;
    color: #333 !important;
    margin: 25px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.4);
}

.book .book-body .example-wrapper * {
    font-family: initial !important;
    color: #333 !important;
}

.book .book-body .example-wrapper a {
    color: blue !important;
}

.panel-success {
    border-color: #B5B5B5;
    background-color: #D7DEED;
}
.panel-success > .panel-heading {
    color: #ffffff;
    background-color: #293169;
    border-color: #293169;
}

.panel-warning > .panel-heading {
    color: #ffffff;
    background-color: #f06969;
    border-color: #f06969;
}

.panel-warning {
    border-color: rgba(240, 105, 105, 0.27);
    background-color: rgba(240, 105, 105, 0.27);
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
	font-weight: 500;
}

.panel-info {
    border-color: #FFCCD5;
    background-color: #FFF4F6;
}

.panel-info > .panel-heading {
    background-color: #F594A4;
    color: #ffffff;
    border-color: #F594A4;
}

.fa {
    color: #fff;
    margin-right: 10px;
}

.book .book-body .page-wrapper .page-inner section.normal pre .hljs-title, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-title,
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-string, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-string, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-value, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-value, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-inheritance, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-inheritance, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-header, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-header, 
.book .book-body .page-wrapper .page-inner section.normal pre .ruby .hljs-symbol, 
.book .book-body .page-wrapper .page-inner section.normal code .ruby .hljs-symbol, 
.book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-cdata, 
.book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-cdata,
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-variable, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-variable, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-attribute, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-attribute, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-tag, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-tag, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-regexp, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-regexp, 
.book .book-body .page-wrapper .page-inner section.normal pre .ruby .hljs-constant, 
.book .book-body .page-wrapper .page-inner section.normal code .ruby .hljs-constant, 
.book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-tag .hljs-title, 
.book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-tag .hljs-title, 
.book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-pi, 
.book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-pi, 
.book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-doctype, 
.book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-doctype, 
.book .book-body .page-wrapper .page-inner section.normal pre .html .hljs-doctype, 
.book .book-body .page-wrapper .page-inner section.normal code .html .hljs-doctype, 
.book .book-body .page-wrapper .page-inner section.normal pre .css .hljs-id, 
.book .book-body .page-wrapper .page-inner section.normal code .css .hljs-id, 
.book .book-body .page-wrapper .page-inner section.normal pre .css .hljs-class, 
.book .book-body .page-wrapper .page-inner section.normal code .css .hljs-class, 
.book .book-body .page-wrapper .page-inner section.normal pre .css .hljs-pseudo, 
.book .book-body .page-wrapper .page-inner section.normal code .css .hljs-pseudo {
    font-family: 'Consolas', monospace;
}

img.image-full-width {
    width: 100%;
}