/* CSS for website */
@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);

.book .book-body .page-wrapper .page-inner section.normal * {
  font-family: 'Lato', sans-serif;
  color: #151d46;
  font-weight: 500;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #f06969;
  transition: color .3s ease-in;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
  color: #151d46;
  text-decoration: none;
}

.book .book-body .page-wrapper .page-inner section.normal h1, 
.book .book-body .page-wrapper .page-inner section.normal h2, 
.book .book-body .page-wrapper .page-inner section.normal h3, 
.book .book-body .page-wrapper .page-inner section.normal h4, 
.book .book-body .page-wrapper .page-inner section.normal h5, 
.book .book-body .page-wrapper .page-inner section.normal h6 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 700;
}

.book .book-body .page-wrapper .page-inner section.normal kbd {
  font-family: monospace;
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.book .book-body .page-wrapper .page-inner section.normal .button-download {
  font-family: brandon-grotesque, sans-serif;
  display: block;
  padding: 1rem;
  color: white;
  border: 3px solid #f06969;
  background-color: #f06969;
  text-align: center;
  transition: .3 ease-out;
  transition-property: color, background-color;
}

.book .book-body .page-wrapper .page-inner section.normal .button-download:hover {
  background-color: white;
  color: #f06969;
}

.book .book-body .page-wrapper .page-inner section.normal h3.panel-title {
  color: #ffffff;
}

.book .book-body .page-wrapper .page-inner section.normal .example-wrapper {
  font-family: initial;
  color: #333;
  margin: 25px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 2px rgba(204, 204, 204, 0.4);
}

.book .book-body .page-wrapper .page-inner section.normal .example-wrapper * {
  font-family: initial;
  color: #333;
}

.book .book-body .page-wrapper .page-inner section.normal .example-wrapper a {
  color: blue;
}

.book .book-body .page-wrapper .page-inner section.normal .codepen-link {
  display: block;
  font-family: brandon-grotesque, sans-serif;
  font-size: 20px;
  text-align: right;
  margin-top: -25px;
}

/* Navigation (table of contents) menu */

.book .book-summary ul.summary {
  font-family: brandon-grotesque, sans-serif;
}

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
  font-weight: 500;
  color: #f06969;
  transition: color .3s ease-in;
}

.book .book-summary ul.summary li.active a,
.book .book-summary ul.summary li a:hover {
  color: #151d46;
}

.book .book-summary ul.summary li a b {
  color: #151d46;
}

/* Exercise/info/warning panels */

.panel-success {
  border-color: #B5B5B5;
  background-color: #D7DEED;
}
.panel-success > .panel-heading {
  color: #ffffff;
  background-color: #293169;
  border-color: #293169;
}

.panel-warning > .panel-heading {
  color: #ffffff;
  background-color: #f06969;
  border-color: #f06969;
}

.panel-warning {
  border-color: rgba(240, 105, 105, 0.27);
  background-color: rgba(240, 105, 105, 0.27);
}

.panel-info {
  border-color: #FFCCD5;
  background-color: #FFF4F6;
}

.panel-info > .panel-heading {
  background-color: #F594A4;
  color: #ffffff;
  border-color: #F594A4;
}

.book .book-body .page-wrapper .page-inner section.normal .panel .fa {
  font-family: FontAwesome;
  color: #fff;
  margin-right: 10px;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  background-color: transparent;
  padding: 0;
}

/* Code */ 

.book .book-body .page-wrapper .page-inner section.normal pre *, 
.book .book-body .page-wrapper .page-inner section.normal code * {
  font-family: 'Consolas', monospace;
}

/* Good/bad examples */

.book .book-body .page-wrapper .page-inner section.normal .good, 
.book .book-body .page-wrapper .page-inner section.normal .wrong {
  font-size: 32px;
}

.book .book-body .page-wrapper .page-inner section.normal .good {
  color: #1DBD07;
}

.book .book-body .page-wrapper .page-inner section.normal .wrong {
  color: #D65269;
}

/* 
* Code demo examples 
*/

.image-full-width {
  width: 100%;
}

#awww-pseudoclasses-exercise a:visited {
    color: purple;
}

#awww-pseudoclasses-exercise a:hover {
    color: red;
}

#awww-pseudoclasses-exercise a:focus {
    color: navy;
}

#awww-pseudoclasses-exercise a:active {
    color: green;
}

#awww-pseudoselectors-stars li::before {
    content: '\2605';
    color: gold;
    margin-right: 1rem;
}

#awww-pseudoselectors-tooltip .tooltip {
  position: relative;
}

#awww-pseudoselectors-tooltip .tooltip::before {
  content: 'Darmowe warsztaty HTML i CSS';
  position: absolute;
  left: 100%;
  top: 0;
  background: coral;
  color: white;
  padding: 0.5em;
  margin-left: 1em;
  width: 100%;
  border-radius: 5px;
  display: none;
}

#awww-pseudoselectors-tooltip .tooltip:hover::before {
  display: inline-block;
}


#awww-pseudoselectors-selection::selection {
    background: hotpink;
}

#awww-pseudoselectors-letter p::first-letter {
    font-size: 3rem;
}

.awww-ch-animations-exercise {
    margin: 40px 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.awww-ch-animations-exercise a.awww-exercise-link {
    padding: 10px 20px;
    background-color: salmon !important; 
    color: #fff !important;
    margin: 20px 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.awww-ch-animations-exercise a.awww-exercise-link:hover {
    background-color: #263479 !important; 
}

a.awww-exercise-link.added-transition {
    transition: all .3s ease-in-out;
    animation-name: changeColors; animation-duration: 6s;
}

@keyframes changeColors
{
  0% { background-color: salmon; }
  50% { background-color: #263479; }
  100% { background-color: salmon; }
}

.circle-ch-anim {
  margin: 30px 0;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: salmon;
  animation: moveBall 7s;
  animation-iteration-count: infinite;
}

@keyframes moveBall {
  0% {
    
  }
  100% {
    transform: translateX(500px);
  }
}

.rectangle-ch-anim {
    height: 120px;
    width: 120px;
    background-color: salmon;
    display: inline-block;
    margin: 20px 100px 20px 0;
}
.rectangle-ch-anim.scale {
    height: 50px;
}

.button-ch-anim-scale:hover {
    transform: scale(1.2);
}

.container-button-ch-anim {
    text-align: center;
}
.button-ch-anim-scale {
    background-color: salmon;
    padding: 20px 100px;
    display: inline-block;
    margin: 20px 0;
    transition: all 0.3 ease-in-out;
}

.rectangle-ch-anim.multiply-transform {
    transition: all 0.7 ease-in-out;
}

.rectangle-ch-anim.multiply-transform {
    transform: translateX(250px) scale(1.05);
}

@keyframes rotateX {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(50deg);
  }
}