/* CSS for website */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900&subset=latin,latin-ext);

body {
  font-family: 'Raleway', sans-serif;
  color: #151d46;
  font-weight: 500;
}

.book .book-body .page-wrapper .page-inner section.normal a {
    color: #f06969;
    transition: color .3s ease-in;
}

.book .book-body .page-wrapper .page-inner section.normal a:hover {
    color: #151d46;
    text-decoration: none;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote, 
.book .book-body .page-wrapper .page-inner section.normal dl, 
.book .book-body .page-wrapper .page-inner section.normal ol, 
.book .book-body .page-wrapper .page-inner section.normal p, 
.book .book-body .page-wrapper .page-inner section.normal table, 
.book .book-body .page-wrapper .page-inner section.normal ul, 
.book .book-body .page-wrapper .page-inner section.normal h1, 
.book .book-body .page-wrapper .page-inner section.normal h2, 
.book .book-body .page-wrapper .page-inner section.normal h3, 
.book .book-body .page-wrapper .page-inner section.normal h4, 
.book .book-body .page-wrapper .page-inner section.normal h5, 
.book .book-body .page-wrapper .page-inner section.normal h6 {
    font-family: 'Raleway', sans-serif;
    color: #151d46;
    font-weight: 500;
}

.book .book-body .page-wrapper .page-inner section.normal h1, 
.book .book-body .page-wrapper .page-inner section.normal h2, 
.book .book-body .page-wrapper .page-inner section.normal h3, 
.book .book-body .page-wrapper .page-inner section.normal h4, 
.book .book-body .page-wrapper .page-inner section.normal h5, 
.book .book-body .page-wrapper .page-inner section.normal h6 {
    font-weight: 700;
}

.book .book-body .page-wrapper .page-inner section.normal h3.panel-title {
  color: #ffffff;
}

.book .book-body .page-wrapper .page-inner section.normal .example-wrapper {
    font-family: initial;
    color: #333;
    margin: 25px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.4);
}

.book .book-body .page-wrapper .page-inner section.normal .example-wrapper * {
    font-family: initial;
    color: #333;
}

.book .book-body .page-wrapper .page-inner section.normal .example-wrapper a {
    color: blue;
}

.book .book-summary ul.summary {
    font-family: 'Raleway', sans-serif;
}

.book .book-summary ul.summary li.active a,
.book .book-summary ul.summary li a:hover {
    color: #151d46;
}

.book .book-summary ul.summary li a, 
.book .book-summary ul.summary li span {
    color: #f06969;
    transition: color .3s ease-in;
}

.book .book-summary ul.summary li a b {
    color: #151d46;
}

.panel-success {
    border-color: #B5B5B5;
    background-color: #D7DEED;
}
.panel-success > .panel-heading {
    color: #ffffff;
    background-color: #293169;
    border-color: #293169;
}

.panel-warning > .panel-heading {
    color: #ffffff;
    background-color: #f06969;
    border-color: #f06969;
}

.panel-warning {
    border-color: rgba(240, 105, 105, 0.27);
    background-color: rgba(240, 105, 105, 0.27);
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
	font-weight: 500;
}

.panel-info {
    border-color: #FFCCD5;
    background-color: #FFF4F6;
}

.panel-info > .panel-heading {
    background-color: #F594A4;
    color: #ffffff;
    border-color: #F594A4;
}

.fa {
    color: #fff;
    margin-right: 10px;
}

.book .book-body .page-wrapper .page-inner section.normal pre .hljs-title, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-title,
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-string, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-string, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-value, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-value, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-inheritance, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-inheritance, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-header, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-header, 
.book .book-body .page-wrapper .page-inner section.normal pre .ruby .hljs-symbol, 
.book .book-body .page-wrapper .page-inner section.normal code .ruby .hljs-symbol, 
.book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-cdata, 
.book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-cdata,
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-variable, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-variable, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-attribute, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-attribute, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-tag, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-tag, 
.book .book-body .page-wrapper .page-inner section.normal pre .hljs-regexp, 
.book .book-body .page-wrapper .page-inner section.normal code .hljs-regexp, 
.book .book-body .page-wrapper .page-inner section.normal pre .ruby .hljs-constant, 
.book .book-body .page-wrapper .page-inner section.normal code .ruby .hljs-constant, 
.book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-tag .hljs-title, 
.book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-tag .hljs-title, 
.book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-pi, 
.book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-pi, 
.book .book-body .page-wrapper .page-inner section.normal pre .xml .hljs-doctype, 
.book .book-body .page-wrapper .page-inner section.normal code .xml .hljs-doctype, 
.book .book-body .page-wrapper .page-inner section.normal pre .html .hljs-doctype, 
.book .book-body .page-wrapper .page-inner section.normal code .html .hljs-doctype, 
.book .book-body .page-wrapper .page-inner section.normal pre .css .hljs-id, 
.book .book-body .page-wrapper .page-inner section.normal code .css .hljs-id, 
.book .book-body .page-wrapper .page-inner section.normal pre .css .hljs-class, 
.book .book-body .page-wrapper .page-inner section.normal code .css .hljs-class, 
.book .book-body .page-wrapper .page-inner section.normal pre .css .hljs-pseudo, 
.book .book-body .page-wrapper .page-inner section.normal code .css .hljs-pseudo {
    font-family: 'Consolas', monospace;
}

img.image-full-width {
    width: 100%;
}

.awww-ch-animations-exercise {
    margin: 40px 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.awww-ch-animations-exercise a.awww-exercise-link {
    padding: 10px 20px;
    background-color: salmon !important; 
    color: #fff !important;
    margin: 20px 0;
}

.book .book-body .page-wrapper .page-inner section.normal div.awww-ch-animations-exercise a.awww-exercise-link:hover {
    background-color: #263479 !important; 
}

a.awww-exercise-link.added-transition {
    transition: all .3s ease-in-out;
}

