/* CSS for website */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900&subset=latin,latin-ext);
* {
  font-family: 'Raleway', sans-serif;
  color: #151d46;
}

a {
    color: #f06969 !important;
    transition: color .3s ease-in;
}

a:hover {
    color: #151d46 !important;
    text-decoration: none !important;
}

/*.book .book-body .page-wrapper .page-inner section.normal h1,
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
    color: #f06969;
}*/
 
.book .book-body .page-wrapper .page-inner section.normal h3.panel-title {
  color: #ffffff;
}

.book .book-body .example-wrapper {
    margin: 25px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 30px;
    box-shadow: 0 0 2px rgba(204, 204, 204, 0.4);
}

.book .book-body .example-wrapper * {
    font-family: initial !important;
    color: #333 !important;
}

.panel-success {
    border-color: #B5B5B5;
    background-color: #D7DEED;
}
.panel-success > .panel-heading {
    color: #ffffff;
    background-color: #293169;
    border-color: #293169;
}

.panel-warning > .panel-heading {
    color: #ffffff;
    background-color: #f06969;
    border-color: #f06969;
}

.panel-warning {
    border-color: rgba(240, 105, 105, 0.27);
    background-color: rgba(240, 105, 105, 0.27);
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
	font-weight: 500;
}

.panel-info {
    border-color: #FFCCD5;
    background-color: #FFF4F6;
}

.panel-info > .panel-heading {
    background-color: #F594A4;
    color: #ffffff;
    border-color: #F594A4;
}

.fa {
    color: #fff;
    margin-right: 10px;
}