/* CSS for website */

/*@import url(https://fonts.googleapis.com/css?family=Ek+Mukta);

body {
  font-family: 'Ek Mukta', sans-serif;
  color: #393b5d;
}*/

/* CSS for website */
@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic);

* {
  font-family: 'Muli', sans-serif;
}

